MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=plantDB
MONGODB_COLLECTION=coffees
CLIENT_URL=http://localhost:5173

# Local API URL. In production use the Vercel deployment URL in your frontend's .env.
API_URL=http://localhost:3000
